In [1]:
import pandas as pd
import numpy as np

from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score

import pickle
import json

In [2]:
import os
import config1

In [3]:
# dir(config1)
config1.CSV_FILE_PATH

'D:\\Velocity Data Science\\Data Science Batches\\Velocity_06_Aug_22\\12_07_Flask_Medical_Insurence\\models\\medical_insurance.csv'

In [4]:
csv_file_path = config1.CSV_FILE_PATH
df = pd.read_csv(csv_file_path)
df

      age  gender     bmi  children smoker     region      charges
0      19  female  27.900         0    yes  southwest  16884.92400
1      18    male  33.770         1     no  southeast   1725.55230
2      28    male  33.000         3     no  southeast   4449.46200
3      33    male  22.705         0     no  northwest  21984.47061
4      32    male  28.880         0     no  northwest   3866.85520
...   ...     ...     ...       ...    ...        ...          ...
1333   50    male  30.970         3     no  northwest  10600.54830
1334   18  female  31.920         0     no  northeast   2205.98080
1335   18  female  36.850         0     no  southeast   1629.83350
1336   21  female  25.800         0     no  southwest   2007.94500
1337   61  female  29.070         0    yes  northwest  29141.36030

[1338 rows x 7 columns]

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1338 non-null   int64
 1   gender    1338 non-null   object
 2   bmi       1338 non-null   float64
 3   children  1338 non-null   int64
 4   smoker    1338 non-null   object
 5   region    1338 non-null   object
 6   charges   1338 non-null   float64
dtypes: float64(2), int64(2), object(3)
memory usage: 73.3+ KB

In [6]:
df.select_dtypes(include=object)

      gender smoker     region
0     female    yes  southwest
1       male     no  southeast
2       male     no  southeast
3       male     no  northwest
4       male     no  northwest
...      ...    ...        ...
1333    male     no  northwest
1334  female     no  northeast
1335  female     no  southeast
1336  female     no  southwest
1337  female    yes  northwest

[1338 rows x 3 columns]

### EDA

##### gender

In [7]:
df['gender'].value_counts()

male      676
female    662
Name: gender, dtype: int64

In [8]:
df['gender'].value_counts().to_dict()

{'male': 676, 'female': 662}

In [9]:
df['gender'].replace({'male': 0, 'female': 1}, inplace = True)

##### smoker

In [10]:
df['smoker'].value_counts().to_dict()

{'no': 1064, 'yes': 274}

In [11]:
df['smoker'].replace({'no': 0, 'yes': 1}, inplace = True)

##### region

In [12]:
df['region'].value_counts()

southeast    364
southwest    325
northwest    325
northeast    324
Name: region, dtype: int64

In [13]:
df = pd.get_dummies(df , columns=['region'])
df

,age,gender,bmi,children,smoker,charges,region_northeast,region_northwest,region_southeast,region_southwest
0,19,1,27.900,0,1,16884.92400,0,0,0,1
1,18,0,33.770,1,0,1725.55230,0,0,1,0
2,28,0,33.000,3,0,4449.46200,0,0,1,0
3,33,0,22.705,0,0,21984.47061,0,1,0,0
4,32,0,28.880,0,0,3866.85520,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...
1333,50,0,30.970,3,0,10600.54830,0,1,0,0
1334,18,1,31.920,0,0,2205.98080,1,0,0,0
1335,18,1,36.850,0,0,1629.83350,0,0,1,0
1336,21,1,25.800,0,0,2007.94500,0,0,0,1
1337,61,1,29.070,0,1,29141.36030,0,1,0,0

#### train_test_split

In [14]:
x = df.drop('charges',axis = 1)
y = df['charges']

x_train, x_test, y_train, y_test= train_test_split(x,y,test_size=0.25, random_state=22)
x_train

,age,gender,bmi,children,smoker,region_northeast,region_northwest,region_southeast,region_southwest
194,18,0,34.430,0,0,0,0,1,0
879,37,1,29.500,2,0,0,0,0,1
1230,52,0,34.485,3,1,0,1,0,0
117,29,1,27.940,1,1,0,0,1,0
567,41,0,30.590,2,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...
356,46,0,43.890,3,0,0,0,1,0
960,19,1,39.615,1,0,0,1,0,0
812,54,0,21.010,2,0,0,0,1,0
132,53,1,35.900,2,0,0,0,0,1
885,32,0,28.930,1,1,0,0,1,0

In [15]:
project_data = {'gender' : {'male': 0, 'female': 1},
               'smoker' : {'no': 0, 'yes': 1},
               'Columns' : x.columns.tolist()}

project_data

{'gender': {'male': 0, 'female': 1},
 'smoker': {'no': 0, 'yes': 1},
 'Columns': ['age',
  'gender',
  'bmi',
  'children',
  'smoker',
  'region_northeast',
  'region_northwest',
  'region_southeast',
  'region_southwest']}

### Model Training

In [16]:
linear_reg = LinearRegression()
linear_reg.fit(x_train, y_train)

LinearRegression()

### Evaluation

In [17]:
y_pred = linear_reg.predict(x_test)

mse = mean_squared_error(y_test, y_pred)
print("MSE :",mse)

rmse = np.sqrt(mse)
print("RMSE :",rmse)

mae = mean_absolute_error(y_test, y_pred)
print("MAE :",mae)

r2_value = r2_score(y_test,y_pred)
print('r2_value :',r2_value)

MSE : 36323448.300284065
RMSE : 6026.893752198064
MAE : 4163.218799707672
r2_value : 0.757302135792273

In [18]:
y_pred_train = linear_reg.predict(x_train)

mse = mean_squared_error(y_train, y_pred_train)
print("MSE :",mse)

rmse = np.sqrt(mse)
print("RMSE :",rmse)

mae = mean_absolute_error(y_train, y_pred_train)
print("MAE :",mae)

r2_value = r2_score(y_train, y_pred_train)
print('r2_value :',r2_value)

MSE : 36723782.62385628
RMSE : 6060.0150679562075
MAE : 4277.061599369641
r2_value : 0.747569753011367

#### Testing on User Inputs

In [19]:
df1 = pd.read_csv(csv_file_path)
df1.columns

Index(['age', 'gender', 'bmi', 'children', 'smoker', 'region', 'charges'], dtype='object')

In [20]:
df1.head(1).T

                  0
age              19
gender       female
bmi            27.9
children          0
smoker          yes
region    southwest
charges   16884.924

In [21]:
project_data = {'gender' : {'male': 0, 'female': 1},
               'smoker' : {'no': 0, 'yes': 1},
               'Columns' : x.columns}

project_data

{'gender': {'male': 0, 'female': 1},
 'smoker': {'no': 0, 'yes': 1},
 'Columns': Index(['age', 'gender', 'bmi', 'children', 'smoker', 'region_northeast',
        'region_northwest', 'region_southeast', 'region_southwest'],
       dtype='object')}

In [22]:
age     =19
gender  ='female'
bmi     =27.9
children=0
smoker  ='yes'
region  ='northwest'

gender = project_data['gender'][gender]
smoker = project_data['smoker'][smoker]

region = "region_"+ region
region_index = np.where(project_data['Columns'] == region)[0][0]
print('region_index :',region_index)

test_array = np.zeros(x.shape[1])
test_array[0] = age
test_array[1] = gender
test_array[2] = bmi
test_array[3] = children
test_array[4] = smoker
test_array[region_index] = 1
test_array

predicted_charges = np.around(linear_reg.predict([test_array])[0],3)
print('predicted_charges :',predicted_charges)

region_index : 6
predicted_charges : 25420.975

In [23]:
with open('linear_reg_model.pkl','wb') as f:
    pickle.dump(linear_reg,f)

In [24]:
project_data = {'gender' : {'male': 0, 'female': 1},
               'smoker' : {'no': 0, 'yes': 1},
               'Columns' : x.columns.tolist()}

# project_data

In [25]:
with open('project_data.json','w') as f:
    json.dump(project_data,f)

In [26]:
csv_file_path = config1.CSV_FILE_PATH
df3 = pd.read_csv(csv_file_path)
df3

      age  gender     bmi  children smoker     region      charges
0      19  female  27.900         0    yes  southwest  16884.92400
1      18    male  33.770         1     no  southeast   1725.55230
2      28    male  33.000         3     no  southeast   4449.46200
3      33    male  22.705         0     no  northwest  21984.47061
4      32    male  28.880         0     no  northwest   3866.85520
...   ...     ...     ...       ...    ...        ...          ...
1333   50    male  30.970         3     no  northwest  10600.54830
1334   18  female  31.920         0     no  northeast   2205.98080
1335   18  female  36.850         0     no  southeast   1629.83350
1336   21  female  25.800         0     no  southwest   2007.94500
1337   61  female  29.070         0    yes  northwest  29141.36030

[1338 rows x 7 columns]

In [27]:
from sklearn.preprocessing import OneHotEncoder, PowerTransformer

one_hot = OneHotEncoder()
array2 = one_hot.fit_transform(df3[['region']]).toarray()
one_hot.categories_
one_hot.get_feature_names()
df_region = pd.DataFrame(array2, columns=one_hot.get_feature_names())
df_region

      x0_northeast  x0_northwest  x0_southeast  x0_southwest
0              0.0           0.0           0.0           1.0
1              0.0           0.0           1.0           0.0
2              0.0           0.0           1.0           0.0
3              0.0           1.0           0.0           0.0
4              0.0           1.0           0.0           0.0
...            ...           ...           ...           ...
1333           0.0           1.0           0.0           0.0
1334           1.0           0.0           0.0           0.0
1335           0.0           0.0           1.0           0.0
1336           0.0           0.0           0.0           1.0
1337           0.0           1.0           0.0           0.0

[1338 rows x 4 columns]